{{!-- <link rel="stylesheet" href="datepicker.min.css"> datepicker --}}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delivery Details</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="myFunction()">

    <form action="/updateDelDetails/{{deliveries.id}}?_method=PUT" method="post">
        <div class='container'>
            <br><br>
            {{!-- {{#each deliveries}} --}}
            <h1>Delivery Details</h1>
            <p id="order-Det">Order No.: {{deliveries.cOrderNo}}</p>
            <div class="del-cust">
                <br>
                <h3>Customer Details</h3>

                <label>Customer's Name</label>
                <br>
                <input class="detIn" id="readOnlyInput" value='{{deliveries.cName}}' readonly />
                <br>
                <label>Customer's Shipping Address:</label>
                <br>
                <input class="detIn" id="readOnlyInput" value='{{deliveries.cAddr}}' readonly />
                <br>
                <label>Postal Code</label>
                <br>
                <input class="detIn" id="readOnlyInput" value='{{deliveries.cPostal_Code}}' readonly />
                <br>
                <label>Region</label>
                <br>
                <input class="detIn" id="readOnlyInput" value='{{deliveries.cRegion}}' readonly />
                <br>
                <label>Customer Email Address</label>
                <br>
                <input class="detIn" id="readOnlyInput" value='{{deliveries.cEmailAddr}}' readonly />
                <br>
                <label>Customer Phone No.</label>
                <br>
                <input class="detIn" id="readOnlyInput" value='{{deliveries.cPhoneNo}}' readonly />

            </div>




            <div class="del-detcont">
                <h3>Delivery Details</h3>
                <label>Pick Up Location:</label>
                <br>
                <input class="detIn" id="readOnlyInput"
                    value="Keppel Logistics @ Tampines Logistics Park, 27 Greenwich Dr" readonly />
                <br>
                <label>Postal Code:</label>
                <br>
                <input class="detIn" id="readOnlyInput" value="533912" readonly />
                <br>
                <label>Delivery Date</label>
                <br>
                <p class="delInP">
                    <input name="delDate" id="datepicker" width="200" value='{{deliveries.delDate}}'>
                    {{!--https://gijgo.com/datepicker/example/bootstrap--}}
                </p>
                <label>Pick Up Time</label>
                <br>

                <select class="detIn" name="delPickUpTime" id="delTime">
                    <option class="delTime" id="nineten" value="9-10 am">9 - 10 am</option>
                    <option class="delTime" id="teneleven" value="10-11 am">10 - 11 am</option>
                    <option class="delTime" id="eleventwelve" value="11-12 pm">11 - 12 pm</option>
                </select>
                {{!-- <input id="readOnlyInput" value="North" readonly /> --}}
                <br>
                {{!-- <label>Customer Email Address</label>
            <br>
            <input id="readOnlyInput" value={{cEmailAddr}} readonly />
            <br>
            <label>Customer Phone No.</label>
            <br>
            <input id="readOnlyInput" value={{cPhoneNo}} readonly /> --}}
                <label>Delivery Man</label>
                <br>
                <select class="detIn" id="delManList" name="delMan">{{!--value='{{delMan}}'--}}
                    <option class="" value="Steven">Steven</option>
                    <option class="" value="Adam">Adam</option>
                    <option class="" value="Patricia">Patricia</option>
                </select>



                <br><br>
            </div>
            {{!-- {{/each}} --}}
            <br><br>
            <button id="buttonBack">Back</button>
            <button id="buttonUpdate">Update</button>
            <p>{{deliveries.delMan}}, try</p>
            <br><br><br>
        </div>
        {{!-- {{/if}} --}}
    </form>
    <br><br><br><br>

    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap',
            format: 'dd/mm/yyyy'
        });


        function myFunction() {
            document.getElementById("delManList").value = '{{deliveries.delMan}}';
            document.getElementById("delTime").value = '{{deliveries.delPickUpTime}}';
        };


        document.getElementById("buttonBack").onclick = function ggback() {
            document.getElementById("delManList").value = '{{deliveries.delMan}}';
            document.getElementById("delTime").value = '{{deliveries.delPickUpTime}}';
            document.getElementById("datepicker").value = '{{deliveries.delDate}}';
            location.href = "/delivery";
        };




        document.getElementById("buttonUpdate").onclick = function updating() {
            if (confirm("Press a button!")) {
                /*stopped here*/
                if ((document.getElementById("delManList").value == '{{deliveries.delMan}}') && (document.getElementById("delTime").value == '{{deliveries.delPickUpTime}}') && (document.getElementById("datepicker").value == '{{deliveries.delDate}}')) {
                    alert("no changes has been made");
                    return false;
                } else {
                    /*document.getElementById("myForm").action = "/updateDelDetails/{{deliveries.id}}?_method=PUT";*/
                    return true;
                };

            } else {

                return false;
            }

        };

        //idk whats this so comment dulu. i forgot
        /*var t = document.getElementById("delTime");
        var valTime = t.options[t.selectedIndex].text;

        var dm = document.getElementById("delMan");
        var valDm = dm.options[dm.selectedIndex].text;*/
    </script>
    {{!-- 
    <br><br>
    </div>
    {{/each}}
    <br><br>
    <button id="buttonBack">Back</button>
    <button id="buttonUpdate">Update</button>
    <p>{{deliveries.delMan}}, try</p>
    <br><br><br>
    </div>
   {{/if}} 
    <br><br><br><br> --}}


    <script>

        console.log("masuk tak 1")










        /*  $(document).ready(function () {
              $('#delManList').change(function () {
                  alert('$(this).val()');
              });
          });*/
    </script>

</body>