{{!-- <h3>You have a total of 3 deliveries today</h3>
<div class="1div">
    <label>No.:</label><p>1</p>
    <br>
    <label>Order No.:</label><p>{{cOrderNo}}</p>
    <label>Customer Name:</label><p>{{cName}}</p>
    
</div> --}}
<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>

<body onload="myFunction()">
  <br>
  <h1>Your Deliveries</h1>
  <br>

  <select class="region" name="" id="" style="margin-left: 41em;">
    <option class="regionPick" id="" value="all" selected>All Regions</option>
    <option class="regionPick" id="" value="East">East</option>
    <option class="regionPick" id="" value="North">North</option>
    <option class="regionPick" id="" value="West">West</option>
  </select>
<br><br>

      </div>
    {{!-- </div> --}}






{{!-- <div class="container"> --}}
  {{!-- <h2>Accordion Example</h2>
  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p> --}}
<div class="panel-group" id="accordion">

      <div class="panel panel-default" style="width: 70em; margin-left: 150px;">

        <div class="panel-heading" style="background-color: moccasin ;"> {{!--navajowhite--}}
          <h4 class="panel-title" style="height: 20px; ">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{dateToday}}</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            
            <div class="col-sm-12 col-md-6 col-lg-8">
              {{!-- <div class="row"> --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                {{#if deli1}}
                {{#each deli1}}
                <label>Order No.</label>
                <p>{{cOrderNo}}</p>
                {{/each}}{{/if}}
                </div>
            {{!-- {{#if orderItem}} --}}
            {{!-- {{#each orderItem}} --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
            
            
                <label>Item & quantity</label>
                 {{#each orderItem}}
                  <p>{{ItemName}}</p>
                {{!-- <p></p> --}}
                
                {{!-- {{/if}} --}}
                {{/each}}
                </div>
               
                
                {{#if deli1}}
                {{#each deli1}}
              {{!-- </div> --}}
              </div>
<br><br><br>

                
                {{!-- <p>{{}}</p> --}}

<hr>

            
            
            {{/each}}

            {{else}}
            <p style="text-align: center; font-weight: bold;">There are no deliveries on {{dateToday}}</p>
            {{/if}}</div>
            
        </div>
      </div>

<br><br>






    <div class="panel panel-default" style="width: 70em; margin-left: 150px;">
      <div class="panel-heading" style="background-color: moccasin ;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">{{dateTmr}}</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"><div class="col-sm-12 col-md-6 col-lg-8">
              {{!-- <div class="row"> --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                {{#if deli2}}
                {{#each deli2}}
                <label>Order No.</label>
                <p>{{cOrderNo}}</p>
                {{/each}}{{/if}}
                </div>
      
                <div class="col-sm-12 col-md-6 col-lg-3">
            
            
                <label>Item & quantity</label>
                 {{#each orderItem}}
                  <p>{{ItemName}}</p>
                {{!-- <p></p> --}}
                
                {{!-- {{/if}} --}}
                {{/each}}
                </div>
               
                
                {{#if deli2}}
                {{#each deli2}}
              {{!-- </div> --}}
              {{!-- </div> --}}
<br><br><br>

                
            {{/each}}

            {{else}}
            <p style="text-align: center; font-weight: bold;">There are no deliveries on {{dateTmr}}</p>
            {{/if}}
</div>
</div>
      </div>
    </div>

<br><br>




    <div class="panel panel-default" style="width: 70em; margin-left: 150px;">
      <div class="panel-heading" style="background-color: moccasin ;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">{{dateTmr2}}</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">            
          <div class="col-sm-12 col-md-6 col-lg-8">
              {{!-- <div class="row"> --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                {{#if deli3}}
                {{#each deli3}}
                <label>Order No.</label>
                <p>{{cOrderNo}}</p>
                {{/each}}{{/if}}
                </div>
            {{!-- {{#if orderItem}} --}}
            {{!-- {{#each orderItem}} --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
            
            
                <label>Item & quantity</label>
                 {{#each orderItem}}
                  <p>{{ItemName}}</p>
                {{!-- <p></p> --}}
                
                {{!-- {{/if}} --}}
                {{/each}}
                </div>
               
                
                {{#if deli3}}
                {{#each deli3}}
              {{!-- </div> --}}
              {{!-- </div> --}}
<br><br><br>

                
                {{!-- <p>{{}}</p> --}}


            
            {{/each}}

            {{else}}
            <p style="text-align: center; font-weight: bold;">There are no deliveries on {{dateTmr2}}</p>
            {{/if}}
</div>
      </div>
      </div>
    </div>
<br><br>



    <div class="panel panel-default" style="width: 70em; margin-left: 150px;">
      <div class="panel-heading" style="background-color: moccasin ;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">{{dateTmr3}}</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"><div class="col-sm-12 col-md-6 col-lg-8">
              {{!-- <div class="row"> --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                {{#if deli4}}
                {{#each deli4}}
                <label>Order No.</label>
                <p>{{cOrderNo}}</p>
                {{!-- {{/each}}{{/if}} --}}
                </div>
            {{!-- {{#if orderItem}} --}}
            {{!-- {{#each orderItem}} --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
            
            
                <label>Item & quantity</label>
                 {{#each orderItem}}
                  <p>{{ItemName}}</p>
                {{!-- <p></p> --}}
                
                {{!-- {{/if}} --}}
                {{/each}}
                </div>
               
                
                {{!-- {{#if deli4}}
                {{#each deli4}} --}}
              {{!-- </div> --}}
              {{!-- </div> --}}
<br><br><br>

                
                {{!-- <p>{{}}</p> --}}

            {{/each}}

            {{else}}
            <p style="text-align: center; font-weight: bold;">There are no deliveries on {{dateTmr3}}</p>
            {{/if}}
</div>
      </div>
      </div>
      </div>
    </div>
<br><br>

    <div class="panel panel-default" style="width: 70em; margin-left: 150px;">
      <div class="panel-heading" style="background-color: moccasin ;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">{{dateTmr4}}</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body"><div class="col-sm-12 col-md-6 col-lg-8">
              {{!-- <div class="row"> --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                {{#if deli5}}
                {{#each deli5}}
                <label>Order No.</label>
                <p>{{cOrderNo}}</p>
               
                </div>
            {{!-- {{#if orderItem}} --}}
            {{!-- {{#each orderItem}} --}}
                <div class="col-sm-12 col-md-6 col-lg-3">
            
            
                <label>Item & quantity</label>
                 {{#each orderItem}}
                  <p>{{ItemName}}</p>
                {{!-- <p></p> --}}
                
                {{!-- {{/if}} --}}
                {{/each}}
                </div>
               
                
                
              {{!-- </div> --}}
              {{!-- </div> --}}
<br><br><br>

                
                {{!-- <p>{{}}</p> --}}

            
            {{/each}}

            {{else}}
            <p style="text-align: center; font-weight: bold;">There are no deliveries on {{dateTmr4}}</p>
            {{/if}}
</div>
      </div>
      </div>
    </div>
  </div> 
{{!-- </div> --}}
    

<br><br>

</body>